body {
    font-family: roboto;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
}

.links-header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    display: flex;
    flex-shrink: 0;
}

a,
.main-text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.logo-img {
    width: 28px;
    filter: invert(100%);
}

.main {
    background-color: #1F2937;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.main-img {
    border-radius: 30px;
    max-width: 100%;
}

.main-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.main-content {
    max-width: 500px;
}

.button1 {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 14px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
.button1:hover {
    background-color: #3478e6;
}

.information {
    padding: 0 10px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.info-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.info-wrap img {
    max-width: 100%;
    width: 270px;
    max-height: 100%;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
}

.info-wrap p {
    text-align: center;
    max-width: fit-content;
    color: #686868;
    font-size: 18px;
}

.quote-wrap {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 0 100px;
}

.quote-text {
    max-width: 1100px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 100px 0 0 0;
}

.quote-by {
    max-width: 100%;
    width: 1000px;
    font-size: 26px;
    font-weight: bold;
    text-align: end;
    margin-bottom: 100px;
}

.call {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 10px;
    max-width: 100%;
    width: 1100px;
    border-radius: 10px;
    gap: 20px;
}

.call-wrap {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    padding: 10px;
}

.call-text h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.call-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.call button {
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #E5E7EB;
    border-radius: 7px;
    padding: 7px 14px;
    font-weight: bolder;
    border-style:solid;
    cursor: pointer;
    flex-shrink: 0;
}
.call button:hover {
    background-color: #3478e6;
}